@font-face {
  src: url('../assets/fonts/Nunito-Light.ttf') format('truetype');
  font-family: 'Nunito';
  font-weight: 300;
}

@font-face {
  src: url('../assets/fonts/Nunito-Regular.ttf') format('truetype');
  font-family: 'Nunito';
  font-weight: 400;
}

@font-face {
  src: url('../assets/fonts/Nunito-SemiBold.ttf') format('truetype');
  font-family: 'Nunito';
  font-weight: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  list-style: none;
  outline: none;
  border: none;
}

body,
input,
button {
  color: var(--text-color);
  font-weight: 300;
}

button,
input {
  background-color: transparent;
}

/* default is light */
:root {
  --text-color: #2d2d2d;
  --bg-color: #fff;
  --secondary-color: #eee;
  --toolbar-bg-color: linear-gradient(
    0deg,
    rgb(230, 230, 230),
    rgb(239, 239, 239)
  );
  --button-shadow: -2px -2px 10px #ffffff, 2px 2px 10px #bbbbbb;
  --button-shadow-reverse: inset -2px -2px 10px #ffffff,
    inset 2px 2px 10px #bbbbbb;
  --border-color: var(--secondary-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #f1f1f1;
    --bg-color: #2d2d2d;
    --secondary-color: #1b1b1b;
    --toolbar-bg-color: linear-gradient(0deg, rgb(41 41 41), rgb(60 60 60));
    --button-shadow: -2px -2px 10px #4a4a4a, 2px 2px 10px #000000;
    --button-shadow-reverse: inset -2px -2px 10px #4a4a4a,
      inset 2px 2px 10px #000000;
    --border-color: #404040;
  }
}

body {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

body > main {
  width: 100%;
  min-width: 370px;
  flex: 1;
}

body > main,
body > #menu,
body > #left-panel {
  height: 100vh;
}

/* Manual Transfer Buttons Activated */
body.use-manual-button-transfer main {
  min-width: 459px;
}

.fill-parent {
  width: 100%;
  height: 100%;
}

#menu li,
.pointer {
  cursor: pointer;
}

.pos-relative {
  position: relative;
}

.flex-between,
.flex-center {
  display: flex;
  align-items: center;
}

.flex-center {
  justify-content: center;
}

.flex-between {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.dis-select,
.icon {
  pointer-events: none;
}

.icon {
  display: block;
}

.setting-icon {
  font-size: 26px;
  text-align: center;
  line-height: 26px;
  font-family: none;
}

.option-icon {
  border: 2px solid var(--text-color);
  border-radius: 25%;
  animation: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

.option-icon::after {
  content: '';
  width: 12px;
  height: 5px;
  position: absolute;
  left: 4px;
  top: 5px;
  border-bottom: 3px solid var(--text-color);
  border-left: 3px solid var(--text-color);
  transform: rotate(-45deg);
}

.script-icon {
  width: 22px;
  height: 28px;
  background-color: var(--bg-color);
  position: absolute;
  top: 10px;
  left: 12px;
  border-radius: 4px;
  border: 2px solid var(--text-color);
}

.script-icon::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: inherit;
  position: absolute;
  top: 2px;
  left: 2px;
  border: inherit;
  border-radius: inherit;
}

.script-icon::after {
  content: '';
  width: 14px;
  height: 2px;
  position: absolute;
  top: 7px;
  left: 6px;
  border-bottom: 4px double var(--text-color);
  border-top: 4px double var(--text-color);
}

.about-icon {
  border: 2px solid var(--text-color);
  border-radius: 50%;
}

.about-icon::after {
  content: 'i';
  color: var(--text-color);
  font-family: monospace;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.change_theme-button {
  appearance: none;
  position: absolute;
  top: 0;
  left: 0;
}

.change_theme-icon {
  width: 100%;
  height: 20px;
  background-image: linear-gradient(0deg, #525252, #232323);
  border-radius: 20px;
}

.change_theme-icon::before {
  content: '';
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, #f1f1f1, #d0d0d0);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  border-radius: inherit;
  transition: opacity 0.3s ease;
}

.change_theme-icon::after {
  content: '';
  width: 20px;
  height: 20px;
  background-color: #fff;
  position: absolute;
  left: -1px;
  top: -1px;
  z-index: 2;
  border-radius: 50%;
  border: 1px solid gray;
  transition: left 0.3s ease-out;
}

.change_theme-button:checked + .icon::after {
  left: calc(100% - 20px);
}

.change_theme-button:checked + .icon::before {
  opacity: 1;
}

.responsive-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
