.field-section {
  width: 100%;
  flex: 1;
  --toolbar-height: 48px;
}

.field-toolbar {
  width: 100%;
  height: var(--toolbar-height);
  background-image: var(--toolbar-bg-color);
  padding: 0 10px;
  box-shadow: 0 4px 10px var(--secondary-color);
}

.fast-switch-container {
  width: 180px;
}

.fast-switch-container > label {
  font-size: 16px;
  font-weight: 600;
  padding-left: 10px;
  user-select: none;
  cursor: pointer;
}

.fast-switch-container .fast-switch-wrapper {
  width: 40px;
  display: inline-block;
}

.fast-switch-container .fast-switch-wrapper .change_theme-icon::before {
  border-radius: 8px;
}

.field-action-menu .manual-transfer {
  display: none;
  animation: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

body.use-manual-button-transfer .manual-transfer {
  opacity: 0;
  transform: scale(0.4);
  display: block;
  animation-name: header_pop-up;
}

@keyframes header_pop-up {
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.field-action-menu .action-button {
  margin: 0 5px;
  padding: 6px 12px;
  font-size: 16px;
  border-radius: 0.5rem;
  box-shadow: var(--button-shadow);
  user-select: none;
  cursor: inherit;
}

.field-action-menu .action-button:active {
  box-shadow: var(--button-shadow-reverse);
}

.field {
  width: 100%;
  background-color: var(--bg-color);
  line-height: 1.5;
  color: var(--text-color);
  flex: 1;
  font-size: 16px;
  font-family: monospace;
  user-select: all;
  resize: none;
  padding: 6px 6px 4px;
}
