<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Phantom Text</title>
    <link rel="stylesheet" href="styles/global.css" />
    <link rel="stylesheet" href="styles/menu.css" />
    <link rel="stylesheet" href="styles/main.css" />
    <!-- Clear module for using jquery -->
    <script>
      if (typeof module === 'object') {
        window.module = module;
        module = undefined;
      }
    </script>
    <script src="../node_modules/jquery/dist/jquery.slim.min.js"></script>
    <script src="js/index.js"></script>
    <script src="js/theme.js"></script>
  </head>
  <body>
    <nav id="menu" class="flex-between flex-column">
      <ul>
        <li id="expand-menu" title="Expand Menu">
          <label class="icon expand-icon pos-relative fill-parent"> </label>
        </li>
        <li id="app-options" title="Options">
          <label class="icon option-icon pos-relative fill-parent"> </label>
        </li>
        <li id="saved-script" title="Saved Scripts">
          <label class="icon script-icon"></label>
        </li>
      </ul>
      <ul>
        <li title="Chnage Theme" class="padding-less">
          <input
            type="checkbox"
            id="change_theme"
            class="change_theme-button fill-parent pointer"
          />
          <label class="icon change_theme-icon pos-relative"></label>
        </li>
        <li title="About" id="about_app">
          <label class="icon about-icon fill-parent pos-relative"></label>
        </li>
      </ul>
    </nav>
    <main>
      <!-- Encode -->
      <section class="field-section">
        <header class="field-toolbar">
          <div class="fast-switch-container flex-center">
            <div class="fast-switch-wrapper pos-relative">
              <input
                type="radio"
                id="use_fast_encode"
                name="fast_mode_switch"
                class="change_theme-button fill-parent pointer"
              />
              <label class="icon change_theme-icon pos-relative"></label>
            </div>
            <label for="use_fast_encode">Use Fast Encode</label>
          </div>
        </header>
        <textarea
          id="encode_field"
          placeholder="Encode"
          class="field"
        ></textarea>
      </section>
      <!-- Decode -->
      <section class="field-section">
        <header class="field-toolbar">
          <div class="fast-switch-container flex-center">
            <div class="fast-switch-wrapper pos-relative">
              <input
                type="radio"
                id="use_fast_decode"
                name="fast_mode_switch"
                class="change_theme-button fill-parent pointer"
              />
              <label class="icon change_theme-icon pos-relative"></label>
            </div>
            <label for="use_fast_decode">Use Fast Decode</label>
          </div>
        </header>
        <textarea
          id="output_field"
          placeholder="Decode"
          class="field"
        ></textarea>
      </section>
    </main>
    <!-- Give It back -->
    <script>
      if (window.module) module = window.module;
    </script>
  </body>
</html>
